PORT=3000
NODE_ENV=development
DEV_ORIGIN=*
PROD_ORIGIN=https://mysite.com

GOOGLE_AUTH_HOST=http://localhost:3000
GOOGLE_AUTH_CLIENT_ID=358634537981
GOOGLE_AUTH_CLIENT_SECRET=GOOOGLESECRET

DB_USER=user
DB_PASSWORD=password
DB_HOST=host
DB_PORT=5432
DB_DATABASE=db
DB_SSL=true

EMAIL_HOST=mailhost
EMAIL_PORT=465
EMAIL_USER=user
EMAIL_PASS=password